<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      content="Tutorial on how to remove Cookie Dough Ultra, so your extension works back again."
    />
    <meta
      property="og:title"
      content="Cookie Dough Ultra | How to restore your extension."
    />
    <meta
      property="og:url"
      content="https://http://doughcookie.glitch.me/cookiehelp"
    />
    <meta
      property="og:description"
      content="Tutorial on how to remove Cookie Dough Ultra, so your extension works back again."
    />

    <title>Cookie Dough / No Bookmarklets</title>

    <link rel="stylesheet" href="/static/style.css" />

    <script src="/static/script.js" defer></script>
  </head>
  <body class="center">
    {{ ann }}

    <h1 style="font-size: 70px">How to restore your extension</h1>

    <div style="width: 100%; left: 50%" class="center dcenter">
      <h3>Click the button for your extension</h3>
      <p>
        First, you need to click one of the buttons for your extension. This
        will take you to the URL for the extension, which is currently disabled
        because of Cookie Dough.
      </p>

      <div class="buttons-list">
        <button onclick="location='/hapara'">Hapara</button>
        <button onclick="imtlazarus() ">IMTLazarus</button>
        <button onclick="CKAuth()">CK Auth</button>
      </div>
      <br />

      <h3>Click the 🔒 lock icon</h3>
      <p>
        Next, look for the 🔒 lock icon next to the URL in your browser.
        Clicking on this icon will open a menu that contains several options,
        including "cookies" and "site settings".
      </p>
      <br />

      <h3>Go to cookies</h3>
      <p>
        Select the "cookies" option from the menu. This will open a list of all
        the cookies associated with the website of your extension.
      </p>
      <br />

      <h3>Remove the cookies</h3>
      <p>
        Make sure that the URL for your extension is selected in the list of
        cookies. You can do this by clicking on it. Then, click on the "remove"
        button to clear all the cookies associated with Cookie Dough from the
        website.
      </p>
      <br />

      <h3>Enable your extension</h3>
      <p>
        After you have removed the cookies, go back to the website and refresh
        the page. Your extension should now be working properly again.
      </p>
      <br />

      <p>
        In conclusion, if you want to enable your extension, you can follow
        these simple steps to enable it again. By removing the cookies
        associated with the website, you can get your extension back to working
        order and continue to use it...
      </p>
    </div>
  </body>
</html>
